.hospitalContainer{

display:flex;
flex-direction:column;

gap:20px;

}

.hospitalCard{

background:white;

padding:30px;

border-radius:20px;

}

.hospitalHeader{

display:flex;

align-items:center;

gap:20px;

margin-bottom:30px;

}

.hospitalHeader img{

width:80px;
height:80px;

}

.formGrid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}

.formGrid input{

padding:14px;

border:1px solid #ddd;

border-radius:10px;

outline:none;

}

.buttonArea{

display:flex;

justify-content:flex-end;

margin-top:30px;

}

.buttonArea button{

padding:14px 25px;

background:#4338ca;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}